<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result PDF</title>
    <style>
      body {margin: 0px} .ritz .waffle a { color: inherit; } .ritz .waffle .s5 {
      border-bottom: 1px SOLID #000000; border-right: 1px SOLID #000000;
      background-color: #ffffff; text-align: left; color: #000000; font-family:
      "Arial"; font-size: 10pt; vertical-align: bottom; white-space: nowrap;
      direction: ltr; padding: 2px 3px 2px 3px; } .ritz .waffle .s6 {
      border-bottom: 1px SOLID #000000; border-right: 1px SOLID #000000;
      background-color: #ffffff; text-align: center; color: #000000;
      font-family: "Arial"; font-size: 10pt; vertical-align: bottom;
      white-space: nowrap; direction: ltr; padding: 2px 3px 2px 3px; } .ritz
      .waffle .s4 { border-bottom: 1px SOLID #000000; border-right: 1px SOLID
      #000000; background-color: #ffffff; text-align: center; color: #000000;
      font-family: "Arial"; font-size: 10pt; vertical-align: middle;
      white-space: nowrap; direction: ltr; padding: 2px 3px 2px 3px; } .ritz
      .waffle .s3 { border-bottom: 1px SOLID #000000; border-right: 1px SOLID
      #000000; background-color: #ffffff; text-align: center; color: #000000;
      font-family: "Arial"; font-size: 10pt; vertical-align: middle;
      white-space: nowrap; overflow: hidden; direction: ltr; padding: 2px 3px
      2px 3px; } .ritz .waffle .s8 { border-bottom: 1px SOLID #000000;
      border-right: 1px SOLID #000000; background-color: #ffffff; text-align:
      center; font-weight: bold; color: #000000; font-family: "Arial";
      font-size: 10pt; vertical-align: middle; white-space: normal; overflow:
      hidden; word-wrap: break-word; direction: ltr; padding: 2px 3px 2px 3px; }
      .ritz .waffle .s7 { border-bottom: 1px SOLID #000000; border-right: 1px
      SOLID #000000; background-color: #ffffff; text-align: center; color:
      #000000; font-family: "Arial"; font-size: 10pt; vertical-align: middle;
      white-space: normal; overflow: hidden; word-wrap: break-word; direction:
      ltr; padding: 2px 3px 2px 3px; } .ritz .waffle .s9 { border-bottom: 1px
      SOLID #000000; border-right: 1px SOLID #000000; background-color: #ffffff;
      text-align: left; color: #000000; font-family: "Arial"; font-size: 10pt;
      vertical-align: middle; white-space: normal; overflow: hidden; word-wrap:
      break-word; direction: ltr; padding: 2px 3px 2px 3px; } .ritz .waffle .s2
      { border-right: 1px SOLID #000000; background-color: #ffffff; text-align:
      left; color: #000000; font-family: "Arial"; font-size: 10pt;
      vertical-align: bottom; white-space: nowrap; direction: ltr; } .ritz
      .waffle .s0 { background-color: #ffffff; text-align: left; color: #000000;
      font-family: "Arial"; font-size: 10pt; vertical-align: bottom;
      white-space: nowrap; direction: ltr; padding: 2px 3px 2px 3px; } .ritz
      .waffle .s1 { border-bottom: 1px SOLID #000000; background-color: #ffffff;
      text-align: left; color: #000000; font-family: "Arial"; font-size: 10pt;
      vertical-align: bottom; white-space: nowrap; direction: ltr; padding: 2px
      3px 2px 3px; }
    </style>
  </head>
  <body>
    <div class="ritz grid-container" dir="ltr">
      <table
        class="waffle"
        cellspacing="0"
        cellpadding="0"
        width="100%"
        id="result-table"
        style="borderTop: '1px solid #000';"
      >
        <tbody>
          <tr>
            <th
              id="1886889848R1"
              style="height: 35px;"
              class="row-headers-background"
            />
            <td class="s2" />
            <td class="s3" dir="ltr" colspan={{totalColumnCount}} rowspan="3">
              Vidya Vikas Education Trust&apos;s
              <br />
              <span style="font-size: 14pt; font-weight: bold;">
                UNIVERSAL COLLEGE OF ENGINEERING, KAMAN.
              </span>
              <span style="font-weight: bold">
                <br />
              </span>
              <span style="font-size: 15pt">
                Kaman Bhiwandi Road, Survey no.146 (Part), Village Kaman, Taluka
                - Vasai, District - Palghar - 401208
              </span>
              <br />
              <span style="font-size: 14pt, font-weight: bold">
                Result Sheet for T.E. Information Technology, (Semester VI), C
                SCHEME , Exam : May 2023 (Regular)
              </span>
            </td>
          </tr>

          <tr style="height: 38px">
            <th
              id="1886889848R2"
              style="height: 38px"
              class="row-headers-background"
            />
            <td class="s2" />
          </tr>

          <tr style="height: 42px">
            <th
              id="1886889848R3"
              style="height: 42px"
              class="row-headers-background"
            />
            <td class="s2" />
          </tr>

          <tr style="height: 20px">
            <th
              id="1886889848R4"
              style="height: 20px"
              class="row-headers-background"
            />
            <td class="s2" />
            <td class="s4" dir="ltr" colspan="3" rowspan="2">
              Courses
            </td>
            <td class="s5" rowspan="2" />
            {{#each subjects}}
              <td class="s6" dir="ltr" colspan="3">
                {{this.code}}
              </td>
            {{/each}}

            <td
              class="s4"
              dir="ltr"
              rowspan="3"
              width="40px"
              style="max-width: 40px; position: relative"
            >
              <div
                style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%) rotate(-90deg);"
              >
                Total
              </div>
            </td>
            <td
              class="s4"
              dir="ltr"
              rowspan="5"
              width="40px"
              style="max-width: 40px; position: relative"
            >
              <div
                style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%) rotate(-90deg);"
              >
                SGPI (GPA)
              </div>
            </td>
            <td
              class="s4"
              dir="ltr"
              rowspan="5"
              width="40px"
              style="max-width: 40px; position: relative"
            >
              <div
                style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%) rotate(-90deg);"
              >
                RESULT
              </div>
            </td>
            <td
              class="s4"
              dir="ltr"
              rowspan="5"
              width="40px"
              style="max-width: 40px; position: relative"
            >
              <div
                style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%) rotate(-90deg);"
              >
                CGPI
              </div>
            </td>
            <td
              class="s4"
              dir="ltr"
              rowspan="5"
              width="40px"
              style="max-width: 40px; position: relative"
            >
              <div
                style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%) rotate(-90deg);"
              >
                RLE
              </div>
            </td>
          </tr>

          <tr style="height: 20px;">
            <th
              id="1886889848R5"
              style="height: 20px;"
              class="row-headers-background"
            />
            <td class="s2" />
            {{#each subjects}}
              <td
                class="s6"
                dir="ltr"
                width="150px"
                style="white-space: pre-line; vertical-align: middle; height: 50px;"
                colspan="3"
              >
                {this.name}
              </td>
            {{/each}}
          </tr>

          <tr style="height: 20px;">
            <th
              id="1886889848R6"
              style="height: 20px;"
              class="row-headers-background"
            />
            <td class="s2" />
            <td class="s4" dir="ltr" colspan="3" rowSpan="3">
              Seat No / Name of Student
            </td>
            <td class="s6" />
            {{#each subjects}}
              {{#each this.exams}}
                <td class="s6" dir="ltr">
                  {this.name}
                </td>
              {{/each}}
            {{/each}}
          </tr>

          <tr style="height: 20px;">
            <th
              id="1886889848R7"
              style="height: 20px;"
              class="row-headers-background"
            />
            <td class="s2" />
            <td class="s6" dir="ltr">
              MaxM
            </td>

            {{#each subjects}}
              {{#each this.exams}}
                <td class="s6" dir="ltr">
                  {this.maxMarks}
                </td>
              {{/each}}
            {{/each}}

            <td class="s6" dir="ltr">
              {maxTotal}
            </td>
          </tr>
          <tr style="height: 20px;">
            <th
              id="1886889848R8"
              style="height: 20px;"
              class="row-headers-background"
            />
            <td class="s2" />
            <td class="s6" dir="ltr">
              MinM
            </td>
            {{#each subjects}}
              {{#each this.exams}}
                <td class="s6" dir="ltr">
                  {this.minMarks}
                </td>
              {{/each}}
            {{/each}}
            <td class="s5" />
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>